extends layout 
 
block content 
  h1(class="container-fluid p-5 bg-info text-white text-center")= title
  if (toShow == null) 
    h2 No instance to delete 
  else
   - let Oilid = toShow._id 
   - let Oil_Name = toShow.Oil_Name
   - let Oil_Company = toShow.Oil_Company 
   - let Oil_cost = toShow.Oil_cost 
   - let Oil_Rating = toShow.Oil_Rating 
   
   div.row(class='mb-2') 
     div.mr-1 ID is 
     div #{Oilid} 
   - let actionid = "/resource/oils/" + Oilid 
   form(id='OilForm', action= actionid, method="PUT") 
     div.form-group 
         label.oilAttr(for='Oil_Name') Oil Name 
         input#Oil_Name(type='text', name='Oil_Name', value= Oil_Name ) 
     div.form-group 
         label.oilAttr(for='Oil_Company')  Oil Company 
         input#Oil_Company(type='text', name='Oil_Company', value= Oil_Company ) 
     div.form-group 
         label.oilAttr(for='Oil_cost') Oil cost 
         input#Oil_cost(type='number', name='Oil_cost', value= Oil_cost ) 
     div.form-group
         label.oilAttr(for='Oil_Rating') Oil Rating 
         input#Oil_Rating(type='number', name='Oil_Rating', value= Oil_Rating ) 
     input(class="btn btn-warning" type="submit") 
 
  script. 
    document.forms['OilForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 